@use "../custom" as *;
@use "../component/mixins" as *;

:root {
  --font-family: "Poppins", Arial, Helvetica, sans-serif;
  --fs-default: 16px;
  --border-radius: 26px;
  --border-radius-child: calc(var(--border-radius) - 10px);
  font-weight: 400;
  font-size: var(--fs-default);
  color: $black;

  --fs-100: 0.62rem;
  --fs-200: 0.7225rem;
  --fs-300: 0.85rem;
  --fs-400: 1rem;
  --fs-500: 1.2rem;
  --fs-600: 1.44rem;
  --fs-700: 1.728rem;
  --fs-800: 2.07rem;
  --fs-900: 2.25rem;

  ::-webkit-scrollbar {
    width: 0px;
  }

  ::-webkit-scrollbar-button {
    width: 0px;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    position: relative;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: $white;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
  }

  img,
  svg {
    width: inherit;
    height: auto;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
  }

  a {
    text-decoration: none;
    font-weight: 600;
  }

  .container {
    position: relative;
    max-width: 100%;
    width: 100%;
    padding: 0 2rem;
    margin-bottom: 1rem;
  }

  .row {
    display: flex;
    max-width: 100%;

    @include responsive(mobile) {
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }
  }

  .text-center {
    text-align: center;
  }

  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .intro {
    max-width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;

    @include responsive(mediadown) {
      max-width: 90%;
    }

    h1 {
      margin-bottom: 0;
    }

    p {
      font-size: 14px;
    }
  }

  .form-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0.5rem auto;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    @include responsive(desktop) {
      max-width: 100%;
      width: 60%;
    }

    .form-group {
      display: flex;
      max-width: 100%;
      flex: 100%;
      flex-wrap: wrap;
      margin-bottom: 1rem;
    }
    label {
      margin-bottom: .5rem;
    }

    .form-input {
      @include bg-opacity($g-100, 30);
      padding: 10px 12px;
      font-size: var(--fs-default);
      font-weight: 500;
      border: none;
      max-width: 100%;
      width: 100%;
      caret-color: $g-800;

      &::placeholder,
      &::-moz-placeholder {
        color: $g-300;
        font-size: 18px;
      }

      &:active,
      &:focus {
        border: none;
      }

      &.submit {
        background-color: $secondary;
        color: $white;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: var(--fs-400);
        min-height: inherit;
        height: auto;
      }
    }
  }
}
